# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore database files
*.sqlite3
*.db

# Ignore Docker files
docker-compose.override.yml

# Iggnore benchmark files       
app/benchmarks/